<section
  class="breadcumb-area bg-img"
  style="background-image: url(assets/img/career-banner.jpg)"
>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-content">
          <h3
            class="breadcumb-title wow fadeInUp"
            data-wow-delay="0s"
            style="visibility: visible; animation-delay: 0s"
          >
            Career
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="sound">
    <span>Sound</span>
    <div class="equalizer">
      <span></span> <span></span> <span></span> <span></span>
    </div>
  </div>
</section>

<div class="career-page">
  <div class="container">
    <div class="job-op">
      <div style="display: block; text-align: -webkit-center">
        <span style="font-weight: 500">Open Role</span>
        <h3 style="font-size: 24px !important; margin-top: 10px">
          Career Opportunities
        </h3>
      </div>
      <div class="row">
        <div class="col-md-10 col-lg-10 col-md-offset-1">
          <h4><strong>Job Title</strong></h4>

          <div class="row">
            <div class="col-md-10 col-lg-12">
              <ul>
                <li>
                  <h6>Regulatory Reporting Manager</h6>

                  <a href="#careers-form">Apply Now</a>
                </li>
              </ul>
            </div>

            <div class="col-md-10 col-lg-12">
              <ul>
                <li>
                  <h6>Team Lead</h6>

                  <a href="#careers-form">Apply Now</a>
                </li>
              </ul>
            </div>

            <div class="col-md-10 col-lg-12">
              <ul>
                <li>
                  <h6>Marketing</h6>

                  <a href="#careers-form">Apply Now</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="careers-form" class="contact-us-form buy-bulk">
      <form class="contact-form">
        <h3>Let's join with us !!</h3>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="uname"
                placeholder="First Name"
                name="name"
                required=""
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="Last-Name"
                placeholder="Last Name"
                name="Last-Name"
                required=""
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="Phone-Number"
                placeholder="Phone Number"
                name="phone number"
                required=""
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter Your Email"
                name="Your Email"
                required=""
              />
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id="Job title"
                placeholder="Job title"
                name="phone number"
                required=""
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="loCATIon "
                placeholder="LoCATIon *"
                name="Your Email"
                required=""
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                id=" linkedin profile "
                placeholder=" Linkedin profile"
                name="phone number"
                required=""
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                id="why"
                placeholder=" Why do you want to join Pabda Consulting? "
                name="Your Email"
                required=""
              />
            </div>
          </div>

          <div class="col-lg-12">
            <textarea
              class="form-control"
              rows="5"
              id="comment"
              placeholder="Message"
            ></textarea>
          </div>
          <div class="col-lg-12">
            <div class="form-group">
              <label>Upload Resume</label>
              <input
                type="file"
                name="file-880"
                size="40"
                class="form-control sdr-frs brow"
                accept=".jpg,.jpeg,.png,.gif,.pdf,.doc,.docx,.ppt,.pptx,.odt,.avi,.ogg,.m4a,.mov,.mp3,.mp4,.mpg,.wav,.wmv"
                aria-required="true"
                aria-invalid="false"
              />
              <p>Accepted file types: pdf, doc, Max. file size: 3 MB.</p>
              <button type="submit" class="contact-btn">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
