<header class="header-area">
  <div (click)="toggleSidebar()" class="btn">
    <span class="material-icons nav-menu-lc"> menu </span>
  </div>
  <div (click)="toggleSidebar()" *ngIf="isSidebarVisible" class="btn click">
    <span class="fa fa-bars"></span>
  </div>
  <nav
    (click)="onSidebarClick($event)"
    [ngClass]="{ show: isSidebarVisible }"
    class="sidebar"
  >
    <div class="text">Menu</div>
    <ul>
      <li class="active"><a href="/">Home</a></li>
      <li><a href="client-we-serve">Clients We Serve</a></li>
      <li>
        <a class="feat-btn" href="service-listing"
          >Services
          <span
            (click)="
              $event.stopPropagation(); $event.preventDefault(); openNavList(0)
            "
            [ngClass]="[
              isNavList && isNavList[0]
                ? 'fa fa-caret-up first'
                : 'fa fa-caret-down first'
            ]"
          ></span>
        </a>

        <ul
          [class.show]="isNavList && isNavList[0]"
          [ngClass]="{ show: isNavList && isNavList[0] }"
          class="feat-show"
        >
          <li>
            <a href="/service-details/market-research">Market Research</a>
          </li>
          <li>
            <a href="/service-details/questionnaire-designing"
              >Questionnaire Designing
            </a>
          </li>
          <li>
            <a href="/service-details/survey-programming">Survey Programming</a>
          </li>
          <li>
            <a href="/service-details/data-processing">Data Processing</a>
          </li>
          <li>
            <a href="/service-details/industries-reach">Industries Reach</a>
          </li>
          <li>
            <a href="/service-details/respondent-reach">Respondent Reach</a>
          </li>
          <li>
            <a
              (click)="
                $event.stopPropagation();
                $event.preventDefault();
                openNavList(1)
              "
              class="feat-btns"
              >Field Work
              <span
                (click)="
                  $event.stopPropagation();
                  $event.preventDefault();
                  openNavList(1)
                "
                [ngClass]="[
                  isNavList && isNavList[1]
                    ? 'fa fa-caret-up first'
                    : 'fa fa-caret-down first'
                ]"
              ></span>
            </a>

            <ul [class.show]="isNavList && isNavList[1]" class="feat-shows">
              <li><a href="/service-details/cati">Cati</a></li>
              <li><a href="/service-details/cawi-online">CAWI/Online</a></li>
              <li><a href="/service-details/face-to-face">Face to Face </a></li>
              <li>
                <a href="/service-details/in-depth-discussions">
                  In-depth Discussions</a
                >
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li>
        <a class="serv-btn" href="#"
          >Resource Center
          <span
            (click)="
              $event.stopPropagation(); $event.preventDefault(); openNavList(2)
            "
            [ngClass]="[
              isNavList && isNavList[2]
                ? 'fa fa-caret-up second'
                : 'fa fa-caret-down second'
            ]"
          ></span>
        </a>
        <ul [class.show]="isNavList && isNavList[2]" class="serv-show">
          <li><a href="blogs">Blogs</a></li>
          <li><a href="upcoming-events">Upcoming Events </a></li>
          <li><a href="downloadables">Downloadables(Reports)</a></li>
        </ul>
      </li>
      <li><a href="contact-us">Contact Us</a></li>
      <li><a class="butn" href="join-our-panel">Join our Panel</a></li>
    </ul>
  </nav>
  <div class="logo top-ll">
    <a class="nav-brand" href="/"
      ><img alt="" src="assets/img/new-logo-1.png"
    /></a>
  </div>
</header>
