<footer class="footer-area">
  <!-- Main Footer Area -->
  <div class="main-footer-area">
    <div class="container">
      <div class="row">
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="footer-widget-area">
            <div class="footer-logo my-4">
              <img src="assets/pabda-logo.png" alt="" />
            </div>
            <p>
              We are one of the fastest-growing research and analytics firm
              providing quality-driven data.
            </p>

            <div class="footer-widget-area cc-fa">
              <!--                                     
                                <div class="widget links-widget ">
                                    <h6  class="widget-title">Contact Us</h6>
                                </div> -->

              <div class="address">
                <!-- <h6><i class="fa fa fa-location-arrow sdr-ics" aria-hidden="true"></i> 526 E Juanita Ave, Ste 4, Mesa, AZ 85204</h6>
                                    <h6><a href="tel:480-353-2950 "><i class="fa fa-phone sdr-ics" aria-hidden="true"></i> 480-353-2950   </a>  </h6> -->
                <h6>
                  <a class="mail-icon" href="mailto:%20sales@pabdaconsulting.com"
                    > <span class="material-icons" aria-hidden="true" style="color:#dc2b21;;"> mail </span>
                    {{ "sales@pabdaconsulting.com" }}
                  </a>
                </h6>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="footer-widget-area">
            <!-- Widget Title -->
            <div class="widget links-widget">
              <h6 class="widget-title">Useful Links</h6>
            </div>
            <!-- Nav -->
            <ul class="useful-links-nav">
              <li>
                <a
                  href="http://brandhypedigital.co.in/brandhype1-2022/Pabda-Consulting/index-new-1.html#"
                  >About us</a
                >
              </li>
              <li>
                <a
                  href="http://brandhypedigital.co.in/brandhype1-2022/Pabda-Consulting/index-new-1.html#"
                  >Clients We Serve</a
                >
              </li>
              <li>
                <a
                  href="http://brandhypedigital.co.in/brandhype1-2022/Pabda-Consulting/index-new-1.html#"
                  >Blogs</a
                >
              </li>
              <li>
                <a
                  href="http://brandhypedigital.co.in/brandhype1-2022/Pabda-Consulting/index-new-1.html#"
                  >Upcoming Events</a
                >
              </li>
              <li>
                <a
                  href="http://brandhypedigital.co.in/brandhype1-2022/Pabda-Consulting/index-new-1.html#"
                  >Downloadables(Reports)</a
                >
              </li>
              <li>
                <a
                  href="http://brandhypedigital.co.in/brandhype1-2022/Pabda-Consulting/index-new-1.html#"
                  >Join our Panel</a
                >
              </li>
            </ul>

            <br />
          </div>
        </div>
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="footer-widget-area">
            <!-- Widget Title -->
            <div class="widget links-widget">
              <h6 class="widget-title">Contact Us</h6>
            </div>
            <!-- Nav -->
            <ul class="useful-links-nav">
              <li>
                <a
                  href="http://brandhypedigital.co.in/brandhype1-2022/Pabda-Consulting/index-new-1.html#"
                  >Speak to an Expert</a
                >
              </li>
              <li>
                <a
                  href="http://brandhypedigital.co.in/brandhype1-2022/Pabda-Consulting/index-new-1.html#"
                  >General Enquiry
                </a>
              </li>
              <li>
                <a
                  href="http://brandhypedigital.co.in/brandhype1-2022/Pabda-Consulting/index-new-1.html#"
                  >Survey Participants
                </a>
              </li>
              <li>
                <a
                  href="http://brandhypedigital.co.in/brandhype1-2022/Pabda-Consulting/index-new-1.html#"
                  >Careers
                </a>
              </li>
            </ul>
            <!-- <div class="social-icons">
                                            <h4>Follow Us</h4>
                                            <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-linkedin"></i></a>
                                            <a target="_blank" href="#"><img class="alignable" src="img/twitter-2.png"></a>
                                            <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                                            <a target="_blank" href="#"><i class="fa fa-pinterest-p"></i></a>
                                         </div> -->
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="footer-widget-area">
            <!-- Widget Title -->
            <div class="widget links-widget">
              <h6 class="widget-title">Get In Touch</h6>
            </div>
           <app-get-in-touch-form></app-get-in-touch-form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Copywrite Text -->
  <div class="copywrite-text d-flex align-items-center justify-content-center">
    <p>
      Copyright © 2024 Pabda Consulting All rights reserved | Designed and
      Developed by
      <a href="https://brandhype.in/" target="_blank">Brandhype.in</a>
    </p>
  </div>
</footer>
