<footer class="footer-area">
  <!-- Main Footer Area -->
  <div class="main-footer-area">
    <div class="container">
      <div class="row">
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="footer-widget-area">
            <!-- Widget Title -->
            <!-- <div class="widget links-widget">
                          <h6 class="widget-title">About  Us</h6>
                      </div> -->

            <div class="footer-logo my-4">
              <img alt="" src="assets/img/new-logo-1.png"/>
            </div>
            <p>
              We are one of the fastest-growing research and analytics firm
              providing quality-driven data.
            </p>

            <div class="footer-widget-area cc-fa">
              <!--
                              <div class="widget links-widget ">
                                  <h6  class="widget-title">Contact Us</h6>
                              </div> -->

              <div class="address">
                <!-- <h6><i class="fa fa fa-loCATIon-arrow sdr-ics" aria-hidden="true"></i> 526 E Juanita Ave, Ste 4, Mesa, AZ 85204</h6>
                                  <h6><a href="tel:480-353-2950 "><i class="fa fa-phone sdr-ics" aria-hidden="true"></i> 480-353-2950   </a>  </h6> -->
                <h6>
                  <a href="mailto: sales@pabdaconsulting.com   "
                  ><i aria-hidden="true" class="fa fa-envelope sdr-ics"></i>
                    sales&#64;pabdaconsulting.com
                  </a>
                </h6>
              </div>
            </div>
          </div>
        </div>
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="footer-widget-area">
            <!-- Widget Title -->
            <div class="widget links-widget">
              <h6 class="widget-title">Useful Links</h6>
            </div>
            <!-- Nav -->
            <ul class="useful-links-nav">
              <li><a href="about-us">About us</a></li>
              <li><a href="client-we-serve">Clients We Serve</a></li>
              <li><a href="blogs">Blogs</a></li>
              <li><a href="upcoming-events">Upcoming Events</a></li>
              <li><a href="downloadables">Downloadables(Reports)</a></li>
              <li><a href="join-our-panel">Join our Panel</a></li>
            </ul>

            <br/>
          </div>
        </div>
        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="footer-widget-area">
            <!-- Widget Title -->
            <div class="widget links-widget">
              <h6 class="widget-title">Contact Us</h6>
            </div>
            <!-- Nav -->
            <ul class="useful-links-nav">
              <li><a href="speak-to-an-expert">Speak to an Expert</a></li>
              <li><a href="contact-us">General Enquiry </a></li>
              <li><a href="survey-participants">Survey Participants </a></li>
              <li><a href="careers">Careers </a></li>
            </ul>
          </div>
        </div>

        <!-- Single Footer Widget -->
        <div class="col-12 col-sm-6 col-xl-3">
          <div class="footer-widget-area">
            <!-- Widget Title -->
            <div class="widget links-widget">
              <h6 class="widget-title">Get In Touch</h6>
            </div>
            <div class="ftr-1a">
              <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
                <div class="form-group">
                  <input
                    [(ngModel)]="formData.name"
                    class="form-control sdr-frs"
                    name="name"
                    placeholder="Name"
                    required
                    type="text"
                  />
                </div>
                <div class="form-group">
                  <input
                    [(ngModel)]="formData.phoneNumber"
                    class="form-control sdr-frs"
                    name="phoneNumber"
                    placeholder="Phone Number"
                    required
                    type="text"
                  />
                </div>
                <div class="form-group">
                  <input
                    [(ngModel)]="formData.email"
                    class="form-control sdr-frs"
                    name="email"
                    placeholder="Email ID"
                    required
                    type="email"
                  />
                </div>
                <div class="form-group">
                  <textarea
                    [(ngModel)]="formData.query"
                    class="form-control"
                    name="query"
                    placeholder="Your Query"
                    rows="2"
                  ></textarea>
                </div>
                <div class="form-group">
                  <input
                    class="btn btn-green ftr-btn1"
                    style="font-size: 14px; color: #fff !important"
                    type="submit"
                    value="Submit"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Copywrite Text -->
  <div class="copywrite-text d-flex align-items-center justify-content-center">
    <p>
      Copyright © 2024 PABDA Consulting All rights reserved | Designed and
      Developed by
      <a href="https://brandhype.in/" target="_blank">Brandhype.in</a>
    </p>
  </div>
</footer>
