<section class="breadcumb-area bg-img" style="background-image: url(assets/img/blog-banner.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title  wow fadeInUp" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s;">Latest Blogs</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="sound ">
      <span>Sound</span>
      <div class="equalizer"> <span></span> <span></span> <span></span> <span></span> </div>
  </div>
</section>
<!-- ##### Blog Area ##### -->
<div class="blog-page">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="top-title section-heading wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-name: fadeInUp; animation-delay: 1s;">
                  <h2>Our Latest Blogs</h2>
                  <div class="heading-separator" style=" margin: 0 auto;"><span> </span></div>
              </div>
          </div>
      </div>
     <div class="row">
        <div class="col-md-4    wow fadeInLeft" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInLeft;">
           <div class="media-bx">
                 <div class="md-img">
                    <img src="assets/img/blog-2.jpg">
                 </div>
                 <div class="blog-one__content">
                  <div class="blog__inner">
                    <div class="blog__meta">
                      <div class="tjblog_author">
                          <h5><i class="fa fa-calendar cl-nd" aria-hidden="true"></i> Tuesday, August 22nd 2024</h5>
                      </div>

                    </div>
                    <div class="content">
                      <h3 class="blog-title">
                        <a href="blog-detail.html">
                          Strategies for Expanding Your Business's Industries Reach and Breaking Barriers          </a>
                      </h3>
    
                          <p> Lorem Ipsum available, but majority have suffered alteration in some</p>
                      
                    </div>
                  </div>
                  <a href="blog-detail.html" class="blog-btn">
                    <span>Read More <i class="fa-light fa-arrow-up-long"></i></span>
                  </a>
                </div>
              </div>
           </div>
        <div class="col-md-4   wow fadeInLeft" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInLeft;">
           <div class="media-bx">
              <div class="md-img">
                 <img src="assets/img/blog-1.jpg">
              </div>
              <div class="blog-one__content">
                  <div class="blog__inner">
                    <div class="blog__meta">
                      <div class="tjblog_author">
                          <h5><i class="fa fa-calendar cl-nd" aria-hidden="true"></i> Tuesday, August 25nd 2024</h5>
                      </div>

                    </div>
                    <div class="content">
                      <h3 class="blog-title">
                        <a href="blog-detail.html">
                          What Impact Does Comprehensive Market Research Have on Decision-Making?                </a>
                      </h3>
    
                      <p> Lorem Ipsum available, but majority have suffered alteration in some</p>
                      
                    </div>
                  </div>
                  <a href="blog-detail.html" class="blog-btn">
                    <span>Read More <i class="fa-light fa-arrow-up-long"></i></span>
                  </a>
                </div>
           </div>
        </div>
        <div class="col-md-4    wow fadeInLeft" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInLeft;">
           <div class="media-bx">
                 <div class="md-img">
                    <img src="assets/img/blog-3.jpg">
                 </div>
                 <div class="blog-one__content">
                  <div class="blog__inner">
                    <div class="blog__meta">
                      <div class="tjblog_author">
                          <h5><i class="fa fa-calendar cl-nd" aria-hidden="true"></i> Tuesday, August 30nd 2024</h5>
                      </div>

                    </div>
                    <div class="content">
                      <h3 class="blog-title">
                        <a href="blog-detail.html">
                          A Guide to Effective Survey Programming to Navigate the Digital  </a>
                      </h3>
    
                      <p>Lorem Ipsum available, but majority have suffered alteration in some</p>
                      
                    </div>
                  </div>
                  <a href="blog-detail.html" class="blog-btn">
                    <span>Read More <i class="fa-light fa-arrow-up-long"></i></span>
                  </a>
                </div>
           </div>
        </div>
     </div>
</div>
</div>