<section
  class="breadcumb-area bg-img"
  style="background-image: url(assets/img/client-banner-2.jpg)"
>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-content">
          <h3
            class="breadcumb-title wow fadeInUp animate-title-ng"
            data-wow-delay="0s"
            style="visibility: visible; animation-delay: 0s"
          >
            Clients We Serve
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="sound" (click)="playOSSound()">
    <span>Sound</span>
    <div class="equalizer">
      <span></span> <span></span> <span></span> <span></span>
    </div>
  </div>
</section>
<section class="about-area">
  <div id="clientele" class="about-secs client-wr">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div
            class="top-title wow fadeInUp"
            data-wow-delay="1s"
            style="
              visibility: visible;
              animation-delay: 1s;
              animation-name: fadeInUp;
            "
          >
            <h2>Clients</h2>
            <div class="heading-separator" style="margin: 0 auto">
              <span> </span>
            </div>
            <p>
              Our clients include established market research firms, consulting
              companies boutique firms that require services in all segments of
              market research including hypothesis generation, survey
              programming, data collection, and data processing.
            </p>
          </div>
          <div
            class="about-info wow fadeInUp"
            data-wow-delay="0s"
            style="visibility: visible; animation-delay: 0s"
          >
            <div style="display: block; text-align: -webkit-center">
              <h4>Our Clientele</h4>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div
                  class="firm wow zoomIn"
                  data-wow-delay="0.2s"
                  style="
                    visibility: visible;
                    animation-delay: 0.2s;
                    animation-name: zoomIn;
                  "
                >
                  <img src="assets/img/fi-1.png" />
                  <h5>Consulting firms</h5>
                </div>
              </div>
              <div class="col-md-4">
                <div
                  class="firm wow zoomIn"
                  data-wow-delay="0.2s"
                  style="
                    visibility: visible;
                    animation-delay: 0.2s;
                    animation-name: zoomIn;
                  "
                >
                  <img src="assets/img/fi-2.png" />
                  <h5>Market Research firms</h5>
                </div>
              </div>
              <div class="col-md-4">
                <div
                  class="firm wow zoomIn"
                  data-wow-delay="0.2s"
                  style="
                    visibility: visible;
                    animation-delay: 0.2s;
                    animation-name: zoomIn;
                  "
                >
                  <img src="assets/img/fi-3.png" />
                  <h5>Boutique professional services firms</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="col-md-6">
  <div class="about-img wow zoomIn" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s;">
     <img src="assets/img/client.png" class="img-responsive">
  </div>
</div> -->
      </div>
    </div>
  </div>
</section>
