<section
  class="breadcumb-area bg-img"
  style="background-image: url(assets/img/about-banner.jpg)"
>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-content">
          <h3
            class="breadcumb-title wow fadeInUp"
            data-wow-delay="0s"
            style="visibility: visible; animation-delay: 0s"
          >
            About Us
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-area">
  <!-- <div class="top-title top-ab ">
      <div class="container">
      <h2 class="wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s;">About  Pabda Consulting</h2>
       <div class="heading-separator" style=" margin: 0 auto;"><span> </span></div>
       <p class="wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s;">We are one of the fastest-growing research and analytics firm providing quality-driven data. We offer end-to-end research and intelligence solutions. We provide global coverage through our proprietary and network and strategic partner-based database. Our team comprises of highly qualified project management personnel with diverse experience and knowledge to deliver action-based insights.</p>

   </div>
   </div> -->
  <div class="about-secs">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div
            class="about-img wow zoomIn"
            data-wow-delay="0s"
            style="visibility: visible; animation-delay: 0s"
          >
            <img class="img-responsive" src="assets/img/about-pabda-and-vision.jpg"/>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="about-info wow fadeInUp"
            data-wow-delay="0s"
            style="visibility: visible; animation-delay: 0s"
          >
            <h4>About Pabda Consulting</h4>
            <p>
              We are one of the fastest-growing research and analytics firm
              providing quality-driven data. We offer end-to-end research and
              intelligence solutions. We provide global coverage through our
              proprietary and network and strategic partner-based database. Our
              team comprises of highly qualified project management personnel
              with diverse experience and knowledge to deliver action-based
              insights.
            </p>
            <h4>Our Vision</h4>
            <p>
              Our core lies in client success and customer service. Thereby, our
              vision is to enable our clients in their business decision making
              by providing relevant and representative survey-led responses and
              solutions. We envisage developing an evolving symbiotic
              relationship with our clients which caters to their obvious and
              implied requirements.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-secs who-we">
    <div class="video-bg">
      <video
        autoplay=""
        loop=""
        muted=""
        playsinline=""
        src="assets/img/video-8.mp4"
      ></video>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div
            class="about-img wow zoomIn"
            data-wow-delay="0s"
            style="visibility: visible; animation-delay: 0s"
          >
            <img class="img-responsive" src="assets/img/ab-3-2.png"/>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="about-info wow fadeInUp"
            data-wow-delay="0s"
            style="visibility: visible; animation-delay: 0s"
          >
            <h4>Who We Are</h4>
            <p>
              Our team includes result-oriented researchers and experienced
              project managers who are able to assist our clients with their
              needs and requirements at a project and process level. Subject
              matter sector experts and functional leaders in survey programming
              and data processing make us a one-stop-shop for all market
              research and primary research requirements.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alience">
    <div class="container">
      <div class="row">
        <div
          class="col-md-6 wow fadeInLeft"
          data-wow-delay="0s"
          style="visibility: visible; animation-delay: 0s"
        >
          <div class="whsr-box">
            <div class="wh-img">
              <img src="assets/img/sr-2.png"/>
            </div>

            <div class="wh-content">
              <h4>Quality</h4>
              <p>
                Our differentiation lies in the quality consciousness of our
                work. The quality control team ensures the delivery of
                high-quality output across projects at each stage of the project
                lifecycle.
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-md-6 wow fadeInLeft"
          data-wow-delay="0s"
          style="visibility: visible; animation-delay: 0s"
        >
          <div class="whsr-box">
            <div class="wh-img">
              <img src="assets/img/sr-1.png"/>
            </div>
            <div class="wh-content">
              <h4>Alliance</h4>
              <p>
                Our collaboration with our clients covers understanding the
                needs holistically and project plans are oriented towards
                delivering what the end customer requires in products/services,
                brainstorming any new innovative ideas, with implementation and
                timely and effective communiCATIon.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about-secs client-wr" id="clientele">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div
            class="about-info wow fadeInUp"
            data-wow-delay="0s"
            style="visibility: visible; animation-delay: 0s"
          >
            <h4>Clients</h4>
            <p>
              Our clients include established market research firms, consulting
              companies boutique firms that require services in all segments of
              market research including hypothesis generation, survey
              programming, data collection, and data processing.
            </p>
            <h5>Our clientele:</h5>
            <ul>
              <li>Consulting firms</li>
              <li>Market Research firms</li>
              <li>Boutique professional services firms</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div
            class="about-img wow zoomIn"
            data-wow-delay="0s"
            style="visibility: visible; animation-delay: 0s"
          >
            <img class="img-responsive" src="assets/img/client-we.png"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
