<section
  class="breadcumb-area bg-img"
  style="background-image: url(assets/img/service-listing-banner-2.jpg)"
>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-content">
          <h3
            class="breadcumb-title wow fadeInUp"
            data-wow-delay="0s"
            style="visibility: visible; animation-delay: 0s"
          >
            Service Listing
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="services-page why-us ww-2">
  <div class="container">
    <div class="row">
      <div class="row">
        <div
          class="col-sm-6 col-lg-4 wow rollIn"
          data-wow-delay="1s"
          style="
            visibility: visible;
            animation-delay: 1s;
            animation-name: rollIn;
          "
        >
          <div class="box">
            <span>01</span>

            <h4><a href="#">Market Research</a></h4>
            <p>
              It’s a process by which information is collected in a defined
              manner...
            </p>
            <img class="img-responsive" src="assets/img/s-1.jpg"/>
            <a class="read" href="#">Read More</a>
          </div>
        </div>
        <!-- end col-4 -->
        <div
          class="col-sm-6 col-lg-4 wow flipInX"
          data-wow-delay="1s"
          style="
            visibility: visible;
            animation-delay: 1s;
            animation-name: flipInX;
          "
        >
          <div class="box">
            <span>02</span>

            <h4><a href="#">Questionnaire Designing</a></h4>
            <p>
              Our questionnaire design is a multistage process that requires...
            </p>
            <img class="img-responsive" src="assets/img/s-2.jpg"/>
            <a class="read" href="#">Read More</a>
          </div>
        </div>
        <!-- end col-4 -->
        <div
          class="col-sm-6 col-lg-4 wow bounceInRight"
          data-wow-delay="1s"
          style="
            visibility: visible;
            animation-delay: 1s;
            animation-name: bounceInRight;
          "
        >
          <div class="box">
            <span>03</span>

            <h4><a href="#">Survey Programming</a></h4>
            <p>
              Our survey programming has expertise in scripting surveys
              across...
            </p>
            <img class="img-responsive" src="assets/img/s-3.jpg"/>
            <a class="read" href="#">Read More</a>
          </div>
        </div>
        <!-- end col-4 -->
        <div class="col-sm-6 col-lg-4 bounceInLeft" data-wow-delay="1s">
          <div class="box">
            <span>04</span>

            <h4><a href="#">Data Processing</a></h4>
            <p>
              Our experts in Data Processing provide data across formats viz...
            </p>
            <img class="img-responsive" src="assets/img/s-4.jpg"/>
            <a class="read" href="#">Read More</a>
          </div>
        </div>
        <!-- end col-4 -->
        <div
          class="col-sm-6 col-lg-4 wow flipInX"
          data-wow-delay="1s"
          style="
            visibility: visible;
            animation-delay: 1s;
            animation-name: flipInX;
          "
        >
          <div class="box">
            <span>05</span>

            <h4><a href="#">Industries Reach </a></h4>
            <p>Financial services, Healthcare, Technology, Media...</p>
            <img class="img-responsive"
                 src="http://brandhypedigital.co.in/brandhype1-2022/Pabda-Consulting/img/s-5.jpg"/>
            <a class="read" href="#">Read More</a>
          </div>
        </div>
        <!-- end col-4 -->
        <div
          class="col-sm-6 col-lg-4 wow bounceInRight"
          data-wow-delay="1s"
          style="
            visibility: visible;
            animation-delay: 1s;
            animation-name: bounceInRight;
          "
        >
          <div class="box">
            <span>06</span>

            <h4><a href="#">Respondent Reach</a></h4>
            <p>
              We value change and promote & enable the effective use of
              research...
            </p>
            <img class="img-responsive" src="assets/img/s-6.jpg"/>
            <a class="read" href="#">Read More</a>
          </div>
        </div>

        <!-- end col-4 -->
        <div
          class="col-sm-6 col-lg-4 wow flipInX"
          data-wow-delay="1s"
          style="
            visibility: visible;
            animation-delay: 1s;
            animation-name: flipInX;
          "
        >
          <div class="box">
            <span>07</span>

            <h4><a href="#">CATI </a></h4>
            <p>
              Computer Assisted Telephone Interview. Our CATI process gives...
            </p>
            <img class="img-responsive" src="assets/img/s-7.jpg"/>
            <a class="read" href="#">Read More</a>
          </div>
        </div>
        <!-- end col-4 -->
        <div
          class="col-sm-6 col-lg-4 wow bounceInRight"
          data-wow-delay="1s"
          style="
            visibility: visible;
            animation-delay: 1s;
            animation-name: bounceInRight;
          "
        >
          <div class="box">
            <span>08</span>

            <h4><a href="#">CAWI/Online</a></h4>
            <p>
              It is an Internet surveying technique in which a web script...
            </p>
            <img class="img-responsive" src="assets/img/s-8.jpg"/>
            <a class="read" href="#">Read More</a>
          </div>
        </div>
        <!-- end col-4 -->
        <div
          class="col-sm-6 col-lg-4 wow flipInX"
          data-wow-delay="1s"
          style="
            visibility: visible;
            animation-delay: 1s;
            animation-name: flipInX;
          "
        >
          <div class="box">
            <span>09</span>

            <h4><a href="#"> Face to Face</a></h4>
            <p>
              When the interviewer directly communicates with the respondent..
            </p>
            <img class="img-responsive" src="assets/img/s-9.jpg"/>
            <a class="read" href="#">Read More</a>
          </div>
        </div>
        <!-- end col-4 -->
        <div
          class="col-sm-6 col-lg-4 wow flipInX"
          data-wow-delay="1s"
          style="
            visibility: visible;
            animation-delay: 1s;
            animation-name: flipInX;
          "
        >
          <div class="box">
            <span>10</span>

            <h4><a href="#">In-depth discussions</a></h4>
            <p>
              We conduct In-depth discussions for the high impact specific...
            </p>
            <img class="img-responsive" src="assets/img/s-10.jpg"/>
            <a class="read" href="#">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
