<section
  class="breadcumb-area bg-img"
  style="background-image: url(assets/img/download-banner-2.jpg)"
>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-content">
          <h3
            class="breadcumb-title wow fadeInUp"
            data-wow-delay="0s"
            style="visibility: visible; animation-delay: 0s"
          >
            Downloadables
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="sound">
    <span>Sound</span>
    <div class="equalizer">
      <span></span> <span></span> <span></span> <span></span>
    </div>
  </div>
</section>
<!-- ##### Blog Area ##### -->
<div class="blog-page upcoming op-ev">
  <div class="container">
    <div class="row">
      <div
        class="col-md-4 wow fadeInLeft"
        data-wow-delay="1s"
        style="
          visibility: visible;
          animation-delay: 1s;
          animation-name: fadeInLeft;
        "
      >
        <div class="media-bx">
          <div class="md-img">
            <img src="assets/img/do-1.jpg" />
          </div>
          <div class="md-content">
            <h3>Lorem Ipsum is simply dummy text of the printing</h3>

            <button
              type="button"
              class="thm-btn download"
              data-toggle="modal"
              data-target="#myModal"
            >
              <span>Download Now</span>
            </button>
          </div>
        </div>
      </div>
      <div
        class="col-md-4 wow fadeInLeft"
        data-wow-delay="1s"
        style="
          visibility: visible;
          animation-delay: 1s;
          animation-name: fadeInLeft;
        "
      >
        <div class="media-bx">
          <div class="md-img">
            <img src="assets/img/do-2.jpg" />
          </div>
          <div class="md-content">
            <h3>Lorem Ipsum is simply dummy text of the printing</h3>

            <button
              type="button"
              class="thm-btn download"
              data-toggle="modal"
              data-target="#myModal"
            >
              <span>Download Now</span>
            </button>
          </div>
        </div>
      </div>
      <div
        class="col-md-4 wow fadeInLeft"
        data-wow-delay="1s"
        style="
          visibility: visible;
          animation-delay: 1s;
          animation-name: fadeInLeft;
        "
      >
        <div class="media-bx">
          <div class="md-img">
            <img src="assets/img/do-3.jpg" />
          </div>
          <div class="md-content">
            <h3>Lorem Ipsum is simply dummy text of the printing</h3>

            <button
              type="button"
              class="thm-btn download"
              data-toggle="modal"
              data-target="#myModal"
            >
              <span>Download Now</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
