<section
  class="breadcumb-area bg-img"
  style="background-image: url(assets/img/download-banner-2.jpg)"
>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-content">
          <h3
            class="breadcumb-title wow fadeInUp"
            data-wow-delay="0s"
            style="visibility: visible; animation-delay: 0s"
          >
            Downloadables
          </h3>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Blog Area ##### -->
<div class="blog-page upcoming op-ev">
  <div class="container">
    <div class="row">
      <ng-container *ngIf="downloadsList.length; else noDownloads">
        <div
          *ngFor="let download of downloadsList; let i = index"
          class="col-md-4 wow fadeInLeft"
        >
          <div class="media-bx">
            <div class="md-img">
              <img [src]="download.image"/>
            </div>
            <div class="md-content">
              <h3>{{ download.title }}</h3>
              <button
                class="thm-btn download"
                data-target="#myModal"
                data-toggle="modal"
                type="button"
              >
                <span>Download Now</span>
              </button>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noDownloads>
        <div class="col-md-12 text-center">
          <p class="no-data-text">
            We will shortly upload the data for downloading
          </p>
        </div>
      </ng-template>
    </div>
  </div>
</div>
