<section
  class="breadcumb-area bg-img"
  style="background-image: url(assets/img/career-banner.jpg)"
>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-content">
          <h3
            class="breadcumb-title wow fadeInUp"
            data-wow-delay="0s"
            style="visibility: visible; animation-delay: 0s"
          >
            Speak to an Expert
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="sound">
    <span>Sound</span>
    <div class="equalizer">
      <span></span> <span></span> <span></span> <span></span>
    </div>
  </div>
</section>

<div class="career-page speeckto">
  <div class="container">
    <div class="contact-us-form buy-bulk" id="careers-form">
      <form class="contact-form">
        <h3>Speak to an Expert</h3>
        <h5>Let us know how we can support your business.</h5>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <input
                class="form-control"
                id="uname"
                name="name"
                placeholder="First Name*"
                required=""
                type="text"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <input
                class="form-control"
                id="Last-Name"
                name="Last-Name"
                placeholder="Last Name*"
                required=""
                type="text"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <input
                class="form-control"
                id="company name"
                name="phone number"
                placeholder="Company Name*"
                required=""
                type="text"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <input
                class="form-control"
                id="phone-number"
                name="Your Email"
                placeholder="Phone Number"
                required=""
                type="email"
              />
            </div>
          </div>

          <div class="col-lg-6">
            <div class="form-group">
              <input
                class="form-control"
                id="email"
                name="email"
                placeholder="Email*"
                required=""
                type="text"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <textarea
                class="form-control"
                id="comment"
                placeholder="Your Message"
                rows="5"
              ></textarea>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="form-group">
              <label>I am interested in: (required):</label>
              <p
                style="
                  display: flex;
                  flex-wrap: wrap;
                  align-items: flex-start;
                  gap: 5px;
                "
              >
                <input
                  id="vehicle1"
                  name="vehicle1"
                  type="checkbox"
                  value="Bike"
                />
                <label for="vehicle1"> Market Research </label>
                <input
                  id="vehicle2"
                  name="vehicle2"
                  type="checkbox"
                  value="Car"
                />
                <label for="vehicle2"> Questionnaire Designing </label>
                <input
                  id="vehicle3"
                  name="vehicle3"
                  type="checkbox"
                  value="Boat"
                />
                <label for="vehicle3"> Survey Programming</label>
                <input
                  id="vehicle4"
                  name="vehicle4"
                  type="checkbox"
                  value="Boat"
                />
                <label for="vehicle4">Data Processing </label>

                <input
                  id="vehicle6"
                  name="vehicle6"
                  type="checkbox"
                  value="Boat"
                />
                <label for="vehicle6"> Industries Reach </label><br/>
                <input
                  id="vehicle7"
                  name="vehicle6"
                  type="checkbox"
                  value="Boat"
                />
                <label for="vehicle7"> Respondent Reach </label>
                <input
                  id="vehicle8"
                  name="vehicle6"
                  type="checkbox"
                  value="Boat"
                />
                <label for="vehicle8"> Not Sure </label>
              </p>
            </div>
          </div>

          <div class="col-lg-12">
            <div class="form-group">
              <button class="contact-btn" type="submit">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
