<div class="ftr-1a">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="phoneNumber" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Email ID</mat-label>
          <input matInput formControlName="email" />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Your Query</mat-label>
          <textarea matInput formControlName="query" rows="2"></textarea>
        </mat-form-field>
      </div>
      <div class="form-group">
        <button mat-raised-button type="submit">Submit</button>
      </div>
    </form>
  </div>