<div class="ftr-1a">
  <form [formGroup]="getInTouchFormGroup">
    <div class="form-group" style="margin-bottom: 0 !important">
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input formControlName="name" formControlName="name" matInput/>
      </mat-form-field>
    </div>
    <div class="form-group" style="margin-bottom: 0 !important">
      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input
          formControlName="phoneNumber"
          formControlName="phoneNumber"
          matInput
        />
      </mat-form-field>
    </div>
    <div class="form-group" style="margin-bottom: 0 !important">
      <mat-form-field appearance="fill">
        <mat-label>Email ID</mat-label>
        <input formControlName="email" formControlName="email" matInput/>
      </mat-form-field>
    </div>
    <div class="form-group" style="margin-bottom: 0 !important">
      <mat-form-field appearance="fill">
        <mat-label>Your Query</mat-label>
        <textarea
          formControlName="query"
          formControlName="query"
          matInput
          rows="2"
        ></textarea>
      </mat-form-field>
    </div>
    <div class="form-group" style="margin-bottom: 0 !important">
      <button
        (click)="onSubmit()"
        [disabled]="getInTouchFormGroup.invalid"
        class="submit"
        mat-raised-button
        type="submit"
      >
        Submit
      </button>
    </div>
  </form>
</div>
