<section
  class="breadcumb-area bg-img"
  style="background-image: url(assets/img/contact-banner.jpg)"
>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-content">
          <h3
            class="breadcumb-title wow fadeInUp"
            data-wow-delay="0s"
            style="visibility: visible; animation-delay: 0s"
          >
            Contact Us
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="sound">
    <span>Sound</span>
    <div class="equalizer">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</section>

<section class="contact-area">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5">
        <div
          class="content-sidebar wow fadeInUp"
          data-wow-delay="0s"
          style="visibility: visible; animation-delay: 0s"
        >
          <h6>- Contact With Us</h6>
          <h3>Feel Free to Get in Touch</h3>
          <p>
            Give us a call or drop by anytime, we endeavour to answer all
            enquiries within 24 hours on business days. We will be happy to
            answer your questions.
          </p>
          <!-- Address -->
          <div class="address mt-30">
            <h6
              class="wow zoomIn"
              data-wow-delay="0s"
              style="visibility: visible; animation-delay: 0s"
            >
              <i class="fa fa-phone frr-ic" aria-hidden="true"></i> 123456789
            </h6>
            <h6
              class="wow zoomIn"
              data-wow-delay="0s"
              style="visibility: visible; animation-delay: 0s"
            >
              <i class="fa fa-envelope frr-ic" aria-hidden="true"></i>
              sales&#64;pabdaconsulting.com
            </h6>
            <!-- <h6><i class="fa fa-map-marker frr-ic" aria-hidden="true"></i> abc, Noida, Uttar Pradesh-201305.</h6> -->
          </div>
        </div>
      </div>
      <!-- Contact Form Area -->
      <div class="col-12 col-lg-7">
        <form class="contact-form wow fadeInLeft" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s" [formGroup]="getInTouchFormGroup" (ngSubmit)="submitForm()">
          <h3>Get In Touch</h3>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input matInput type="text" id="name" placeholder="Name" formControlName="name">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input matInput type="tel" id="phoneNumber" placeholder="Phone Number" formControlName="phoneNumber">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input matInput type="email" id="email" placeholder="Email" formControlName="email">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <input matInput type="text" id="address" placeholder="Address" formControlName="address">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <mat-form-field appearance="outline" style="width: 100%;">
                  <textarea matInput rows="5" id="query" placeholder="Your Query" formControlName="query"></textarea>
                </mat-form-field>
              </div>
              <button type="submit" class="contact-btn" [disabled]="!getInTouchFormGroup.valid">Send Message</button>
            </div>
          </div>
        </form>
        
      </div>
    </div>
  </div>
</section>
