<section
  class="breadcumb-area bg-img"
  style="background-image: url(assets/img/inner-banner-new-5.jpg)"
>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-content">
          <h3
            class="breadcumb-title wow fadeInUp"
            data-wow-delay="0s"
            style="visibility: visible; animation-delay: 0s"
          >
            Service Detail
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="sound">
    <span>Sound</span>
    <div class="equalizer">
      <span></span> <span></span> <span></span> <span></span>
    </div>
  </div>
</section>

<div class="page-open_time">
  <div class="container-fluid">
    <div class="our-boxes">
      <div class="product-cat">
        <div class="row">
          <div class="col-md-8 col-md-push-4">
            <div class="service-detail">
              <div class="ser-des">
                <video
                  autoplay=""
                  muted=""
                  loop=""
                  playsinline=""
                  preload="metadata"
                  style="
                    width: 100%;
                    height: 100%;
                    margin-top: 10px;
                    border: 8px solid #c6d4d7;
                    border-radius: 40px 0;
                    object-fit: fill;
                  "
                >
                  <source
                    src="assets/img/data-processing-2.mp4"
                    type="video/mp4"
                  />
                </video>
                <!-- <div class="sr-img1 wow zoomIn" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s;"><img class="img-responsive" src="assets/img/data-processing-video.mp4" alt="data-processing"></div> -->
                <h2>Data Processing</h2>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>

                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-md-pull-8">
            <div class="sidebar-cate_list sticky">
              <div
                class="sidebar-services wow fadeInUp"
                data-wow-delay="0s"
                style="visibility: visible; animation-delay: 0s"
              >
                <h3>Our Services</h3>
                <ul>
                  <li class="active"><a href="#">Market Research</a></li>
                  <li><a href="#">Questionnaire Designing </a></li>
                  <li><a href="#">Survey Programming</a></li>
                  <li><a href="#">Data Processing</a></li>
                  <li><a href="#">Industries Reach</a></li>
                  <li><a href="#">Respondent Reach</a></li>
                  <li><a href="#">CATI</a></li>
                  <li><a href="#">CAWI/Online</a></li>
                  <li><a href="#">Face to Face </a></li>
                  <li><a href="#"> In-depth Discussions</a></li>
                </ul>
                <div class="faq-page__right">
                  <div
                    class="service-details__need-help wow fadeInUp"
                    data-wow-delay="1s"
                    style="visibility: visible; animation-delay: 1s"
                  >
                    <div class="service-details__need-help-bg">
                      <img
                        class="img-responsive"
                        src="assets/img/service-details-need-help-bg.jpg"
                      />
                    </div>

                    <h2 class="service-details__need-help-title">
                      How Can We Help?
                    </h2>
                    <div class="service-details__need-help-contact">
                      <h6>
                        If you need any helps, please feel free to contact us.
                      </h6>
                      <p>
                        <a href="tel:123456789 "
                          ><i class="fa fa-phone frr-ic" aria-hidden="true"></i>
                          123456789</a
                        >
                      </p>
                      <p>
                        <a href="mailto: sales@pabdaconsulting.com   "
                          ><i
                            class="fa fa-envelope sdr-ics"
                            aria-hidden="true"
                          ></i>
                          sales&#64;pabdaconsulting.com
                        </a>
                      </p>
                    </div>
                  </div>
                  <div class="service-details__download">
                    <a href="#" target="_blank">Request A Service</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
