<section
  class="breadcumb-area bg-img upevent"
  style="background-image: url(assets/img/upcoming-banner.jpg)"
>
  <div class="container h-100">
  </div>
</section>
<!-- ##### Blog Area ##### -->
<div class="blog-page upcoming op-ev">
  <div class="container">
    <div class="row">
      <ng-container *ngIf="blogPosts.length > 0; else noEvents">
        <div *ngFor="let post of blogPosts; let i = index" class="col-md-4">
          <div
            [attr.data-wow-delay]="i * 0.2 + 's'"
            class="media-bx wow fadeInLeft"
          >
            <div class="md-img">
              <img [src]="post.imgSrc"/>
              <div class="date">
                <i aria-hidden="true" class="fa fa-calendar cl-nd"></i>
                {{ post.date }}
              </div>
            </div>
            <div class="md-content">
              <h3>{{ post.title }}</h3>
              <p>{{ post.content }}</p>
              <div class="readmore">
                <a href="upcoming-events-detail.html"
                >Read More <i aria-hidden="true" class="fa fa-angle-right"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <ng-template #noEvents>
        <div class="col-md-12 text-center">
          <h3 style="font-size: 32px;">No Upcoming Events</h3>
        </div>
      </ng-template>
    </div>
  </div>
</div>
