<section class="breadcumb-area bg-img upevent" style="background-image: url(assets/img/upcoming-banner.jpg);">
    <div class="container h-100">
        <!-- <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcumb-content">
                    <h3 class="breadcumb-title  wow fadeInUp" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s;">Upcoming Events</h3>
                </div>
            </div>
        </div> -->
    </div>
    <div class="sound ">
      <span>Sound</span>
      <div class="equalizer"> <span></span> <span></span> <span></span> <span></span> </div>
  </div>
</section>
<!-- ##### Blog Area ##### -->
<div class="blog-page upcoming op-ev">
  <div class="container">

     <div class="row">
        <div class="col-md-4    wow fadeInLeft" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInLeft;">
           <div class="media-bx">
                 <div class="md-img">
                    <img src="assets/img/blog-img4.jpg">
                    <div class="date"><i class="fa fa-calendar cl-nd" aria-hidden="true"></i> June 25, 2024</div>
                 </div>
                 <div class="md-content">
                  <h3>Lorem Ipsum is simply dummy text of the printing post1</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.  </p>
                  <div class="readmore">
                     <a href="upcoming-events-detail.html">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
              </div>
           </div>
           </div>
        <div class="col-md-4   wow fadeInLeft" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInLeft;">
           <div class="media-bx">
              <div class="md-img">
                 <img src="assets/img/blog-img5.jpg">
                 <div class="date"><i class="fa fa-calendar cl-nd" aria-hidden="true"></i> April 25, 2024</div>
              </div>
              <div class="md-content">
                <h3>Lorem Ipsum is simply dummy text of the printing post2</h3>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                <div class="readmore">
                   <a href="upcoming-events-detail.html">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                </div>
           </div>
        </div>
        </div>
        <div class="col-md-4    wow fadeInLeft" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInLeft;">
           <div class="media-bx">
                 <div class="md-img">
                    <img src="assets/img/blog-img6.jpg">
                    <div class="date"><i class="fa fa-calendar cl-nd" aria-hidden="true"></i> June 25, 2024</div>
                </div>
                 <div class="md-content">
                  <h3>Lorem Ipsum is simply dummy text of the printing post3</h3>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                  <div class="readmore">
                     <a href="upcoming-events-detail.html">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
           </div>
        </div>
     </div>
     </div>
</div>
</div>