/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none !important;
  outline: none;
  font-size: 14px;
  font-weight: 600;
}
