<section
  class="breadcumb-area bg-img"
  style="background-image: url(assets/img/blog-banner.jpg)"
>
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12">
        <div class="breadcumb-content">
          <h3
            class="breadcumb-title wow fadeInUp"
            data-wow-delay="0s"
            style="visibility: visible; animation-delay: 0s"
          >
            Latest Blogs
          </h3>
        </div>
      </div>
    </div>
  </div>
  <div class="sound">
    <span>Sound</span>
    <div class="equalizer">
      <span></span> <span></span> <span></span> <span></span>
    </div>
  </div>
</section>
<!-- ##### Blog Area ##### -->
<div class="blog-detail">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8">
        <div class="blog-details-content">
          <div class="details-content" [innerHTML]="selectedBlog?.content">
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 sticky">
        <div class="contact-realtor-wrapper">
          <div class="realtor-info">
            <div
              class="realtor--contact-form wow fadeInUp"
              data-wow-delay="0s"
              style="visibility: visible; animation-delay: 0s"
            >
              <h3>Get In Touch</h3>
              <form action="#" method="post">
                <div class="form-group">
                  <input
                    id="Name"
                    type="text"
                    class="form-control sdr-frs"
                    placeholder="Name"
                  />
                </div>
                <div class="form-group">
                  <input
                    id="Phone Number"
                    type="text"
                    class="form-control sdr-frs"
                    placeholder="Phone  Number"
                  />
                </div>
                <div class="form-group">
                  <input
                    id="Email"
                    type="text"
                    class="form-control sdr-frs"
                    placeholder="Email Address"
                  />
                </div>
                <div class="form-group">
                  <textarea
                    id="txt_Message_7"
                    class="form-control sdr-frs"
                    placeholder="Message"
                  ></textarea>
                </div>
                <div class="form-group">
                  <input
                    type="submit"
                    id="submit-btn"
                    class="btn btn-green ftr-btn1"
                    value="Submit"
                  />
                </div>
              </form>
            </div>
            <ul class="postrgt-items">
              <h3>Recent Post</h3>
              <li>
                <div
                  class="right-post wow zoomIn"
                  data-wow-delay="0s"
                  style="visibility: visible; animation-delay: 0s"
                >
                  <div class="post-thumb">
                    <a href="blog-detail.html"
                      ><img src="assets/img/blog-1.jpg" alt=""
                    /></a>
                  </div>
                  <div class="post-content">
                    <h4 class="post-title">
                      <a href="#"
                        >What Impact Does Comprehensive Market Research Have on
                        Decision-Making?
                      </a>
                    </h4>
                  </div>
                </div>
              </li>
              <li>
                <div
                  class="right-post wow zoomIn"
                  data-wow-delay="0s"
                  style="visibility: visible; animation-delay: 0s"
                >
                  <div class="post-thumb">
                    <a href="blog-detail.html"
                      ><img src="assets/img/blog-3.jpg" alt=""
                    /></a>
                  </div>
                  <div class="post-content">
                    <h4 class="post-title">
                      <a href="#">
                        A Guide to Effective Survey Programming to Navigate the
                        Digital
                      </a>
                    </h4>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
