<div class="banner-section" style="position: relative">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <section class="hero-area left-banner">
          <div
            #heroSlides
            class="hero-slides owl-carousel owl-theme owl-loaded"
          >
            <div class="owl-stage-outer">
              <div
                class="owl-stage"
                style="
                  transition: all 1s ease 0s;
                  width: 5040px;
                  transform: translate3d(-3600px, 0px, 0px);
                "
              >
                <div
                  class="owl-item cloned"
                  style="width: 720px; margin-right: 0px"
                >
                  <div
                    class="single-hero-slide bg-img bg-fixed bg-overlay-black"
                    style="background-image: url(assets/img/banner-ad-9.jpg)"
                  >
                    <div class="container h-100">
                      <div class="row h-100 align-items-center">
                        <div class="col-12">
                          <div
                            class="hero-slides-content"
                            data-animation="zoomIn"
                            data-delay="100ms"
                            style="animation-delay: 100ms; opacity: 0"
                          >
                            <h2
                              data-animation="fadeInUp"
                              data-delay="100ms"
                              style="animation-delay: 100ms; opacity: 0"
                            >
                              Transforming Raw Data into Refined Wisdom.
                            </h2>

                            <p>
                              <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                       <span>Contact Us</span>
                                     </button> -->
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="owl-item cloned"
                  style="width: 720px; margin-right: 0px"
                >
                  <div
                    class="single-hero-slide bg-img bg-fixed bg-overlay-black"
                    style="background-image: url(assets/img/banner-ad-4.jpg)"
                  >
                    <div class="container h-100">
                      <div class="row h-100 align-items-center">
                        <div class="col-12">
                          <div
                            class="hero-slides-content"
                            data-animation="fadeInUp"
                            data-delay="100ms"
                            style="animation-delay: 100ms; opacity: 0"
                          >
                            <h2
                              data-animation="fadeInUp"
                              data-delay="100ms"
                              style="animation-delay: 100ms; opacity: 0"
                            >
                              Navigating Industries, Connecting Possibilities.
                            </h2>

                            <p>
                              <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                          <span>Contact Us</span>
                                      </button> -->
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item" style="width: 720px; margin-right: 0px">
                  <div
                    class="single-hero-slide bg-img bg-fixed bg-overlay-black"
                    style="background-image: url(assets/img/banner-ad-1.jpg)"
                  >
                    <div class="container h-100">
                      <div class="row h-100 align-items-center">
                        <div class="col-12">
                          <div
                            class="hero-slides-content"
                            data-animation="zoomIn"
                            data-delay="100ms"
                            style="animation-delay: 100ms; opacity: 0"
                          >
                            <h2
                              data-animation="fadeInUp"
                              data-delay="100ms"
                              style="animation-delay: 100ms; opacity: 0"
                            >
                              Turning Data into Decisions, Surveys into
                              Strategies.
                            </h2>

                            <p>
                              <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                       <span>Contact Us</span>
                                     </button> -->
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item" style="width: 720px; margin-right: 0px">
                  <div
                    class="single-hero-slide bg-img bg-fixed bg-overlay-black"
                    style="background-image: url(assets/img/banner-ad-9.jpg)"
                  >
                    <div class="container h-100">
                      <div class="row h-100 align-items-center">
                        <div class="col-12">
                          <div
                            class="hero-slides-content"
                            data-animation="zoomIn"
                            data-delay="100ms"
                            style="animation-delay: 100ms; opacity: 0"
                          >
                            <h2
                              class=""
                              data-animation="fadeInUp"
                              data-delay="100ms"
                              style="animation-delay: 100ms; opacity: 0"
                            >
                              Transforming Raw Data into Refined Wisdom.
                            </h2>

                            <p>
                              <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                       <span>Contact Us</span>
                                     </button> -->
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="owl-item active"
                  style="width: 720px; margin-right: 0px"
                >
                  <div
                    class="single-hero-slide bg-img bg-fixed bg-overlay-black"
                    style="background-image: url(assets/img/banner-ad-4.jpg)"
                  >
                    <div class="container h-100">
                      <div class="row h-100 align-items-center">
                        <div class="col-12">
                          <div
                            class="hero-slides-content animated fadeInUp"
                            data-animation="fadeInUp"
                            data-delay="100ms"
                            style="animation-delay: 100ms; opacity: 1"
                          >
                            <h2
                              class="animated fadeInUp"
                              data-animation="fadeInUp"
                              data-delay="100ms"
                              style="animation-delay: 100ms; opacity: 1"
                            >
                              Navigating Industries, Connecting Possibilities.
                            </h2>

                            <p>
                              <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                          <span>Contact Us</span>
                                      </button> -->
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="owl-item cloned"
                  style="width: 720px; margin-right: 0px"
                >
                  <div
                    class="single-hero-slide bg-img bg-fixed bg-overlay-black"
                    style="background-image: url(assets/img/banner-ad-1.jpg)"
                  >
                    <div class="container h-100">
                      <div class="row h-100 align-items-center">
                        <div class="col-12">
                          <div
                            class="hero-slides-content"
                            data-animation="zoomIn"
                            data-delay="100ms"
                            style="animation-delay: 100ms; opacity: 0"
                          >
                            <h2
                              class=""
                              data-animation="fadeInUp"
                              data-delay="100ms"
                              style="animation-delay: 100ms; opacity: 0"
                            >
                              Turning Data into Decisions, Surveys into
                              Strategies.
                            </h2>

                            <p>
                              <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                       <span>Contact Us</span>
                                     </button> -->
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="owl-item cloned"
                  style="width: 720px; margin-right: 0px"
                >
                  <div
                    class="single-hero-slide bg-img bg-fixed bg-overlay-black"
                    style="background-image: url(assets/img/banner-ad-9.jpg)"
                  >
                    <div class="container h-100">
                      <div class="row h-100 align-items-center">
                        <div class="col-12">
                          <div
                            class="hero-slides-content"
                            data-animation="zoomIn"
                            data-delay="100ms"
                            style="animation-delay: 100ms; opacity: 0"
                          >
                            <h2
                              data-animation="fadeInUp"
                              data-delay="100ms"
                              style="animation-delay: 100ms; opacity: 0"
                            >
                              Transforming Raw Data into Refined Wisdom.
                            </h2>

                            <p>
                              <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                       <span>Contact Us</span>
                                     </button> -->
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-controls">
              <div class="owl-nav">
                <div class="owl-prev" style="">
                  <i class="fa fa-angle-left"></i>
                </div>
                <div class="owl-next" style="">
                  <i class="fa fa-angle-right"></i>
                </div>
              </div>
              <div class="owl-dots" style="">
                <div class="owl-dot">01</div>
                <div class="owl-dot">02</div>
                <div class="owl-dot active">03</div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <div class="col-md-6">
        <section class="hero-area right-banner">
          <div
            #heroSlides
            class="hero-slides owl-carousel owl-theme owl-loaded"
          >
            <div class="owl-stage-outer">
              <div
                class="owl-stage"
                style="
                  transform: translate3d(-3600px, 0px, 0px);
                  transition: all 1s ease 0s;
                  width: 5040px;
                "
              >
                <div
                  class="owl-item cloned"
                  style="width: 720px; margin-right: 0px"
                >
                  <div
                    class="single-hero-slide bg-img bg-fixed bg-overlay-black"
                    style="background-image: url(assets/img/banner-ad-2-1.jpg)"
                  >
                    <div class="container h-100">
                      <div class="row h-100 align-items-center">
                        <div class="col-12">
                          <div
                            class="hero-slides-content"
                            data-animation="fadeInUp"
                            data-delay="100ms"
                            style="animation-delay: 100ms; opacity: 0"
                          >
                            <h2
                              data-animation="fadeInUp"
                              data-delay="100ms"
                              style="animation-delay: 100ms; opacity: 0"
                            >
                              Transforming Raw Data into Refined Wisdom.
                            </h2>

                            <p>
                              <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                       <span>Contact Us</span>
                                     </button> -->
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="owl-item cloned"
                  style="width: 720px; margin-right: 0px"
                >
                  <div
                    class="single-hero-slide bg-img bg-fixed bg-overlay-black"
                    style="background-image: url(assets/img/banner-ad-5.jpg)"
                  >
                    <div class="container h-100">
                      <div class="row h-100 align-items-center">
                        <div class="col-12">
                          <div
                            class="hero-slides-content"
                            data-animation="fadeInUp"
                            data-delay="100ms"
                            style="animation-delay: 100ms; opacity: 0"
                          >
                            <h2
                              data-animation="fadeInUp"
                              data-delay="100ms"
                              style="animation-delay: 100ms; opacity: 0"
                            >
                              Navigating Industries, Connecting Possibilities.
                            </h2>

                            <p>
                              <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                          <span>Contact Us</span>
                                      </button> -->
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item" style="width: 720px; margin-right: 0px">
                  <div
                    class="single-hero-slide bg-img bg-fixed bg-overlay-black"
                    style="background-image: url(assets/img/banner-ad-6.jpg)"
                  >
                    <div class="container h-100">
                      <div class="row h-100 align-items-center">
                        <div class="col-12">
                          <div
                            class="hero-slides-content"
                            data-animation="fadeInUp"
                            data-delay="100ms"
                            style="animation-delay: 100ms; opacity: 0"
                          >
                            <h2
                              data-animation="fadeInUp"
                              data-delay="100ms"
                              style="animation-delay: 100ms; opacity: 0"
                            >
                              Turning Data into Decisions, Surveys into
                              Strategies.
                            </h2>

                            <p>
                              <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                       <span>Contact Us</span>
                                     </button> -->
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="owl-item" style="width: 720px; margin-right: 0px">
                  <div
                    class="single-hero-slide bg-img bg-fixed bg-overlay-black"
                    style="background-image: url(assets/img/banner-ad-2-1.jpg)"
                  >
                    <div class="container h-100">
                      <div class="row h-100 align-items-center">
                        <div class="col-12">
                          <div
                            class="hero-slides-content"
                            data-animation="fadeInUp"
                            data-delay="100ms"
                            style="animation-delay: 100ms; opacity: 0"
                          >
                            <h2
                              class=""
                              data-animation="fadeInUp"
                              data-delay="100ms"
                              style="animation-delay: 100ms; opacity: 0"
                            >
                              Transforming Raw Data into Refined Wisdom.
                            </h2>

                            <p>
                              <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                       <span>Contact Us</span>
                                     </button> -->
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="owl-item active"
                  style="width: 720px; margin-right: 0px"
                >
                  <div
                    class="single-hero-slide bg-img bg-fixed bg-overlay-black"
                    style="background-image: url(assets/img/banner-ad-5.jpg)"
                  >
                    <div class="container h-100">
                      <div class="row h-100 align-items-center">
                        <div class="col-12">
                          <div
                            class="hero-slides-content animated fadeInUp"
                            data-animation="fadeInUp"
                            data-delay="100ms"
                            style="animation-delay: 100ms; opacity: 1"
                          >
                            <h2
                              class="animated fadeInUp"
                              data-animation="fadeInUp"
                              data-delay="100ms"
                              style="animation-delay: 100ms; opacity: 1"
                            >
                              Navigating Industries, Connecting Possibilities.
                            </h2>

                            <p>
                              <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                          <span>Contact Us</span>
                                      </button> -->
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="owl-item cloned"
                  style="width: 720px; margin-right: 0px"
                >
                  <div
                    class="single-hero-slide bg-img bg-fixed bg-overlay-black"
                    style="background-image: url(assets/img/banner-ad-6.jpg)"
                  >
                    <div class="container h-100">
                      <div class="row h-100 align-items-center">
                        <div class="col-12">
                          <div
                            class="hero-slides-content"
                            data-animation="fadeInUp"
                            data-delay="100ms"
                            style="animation-delay: 100ms; opacity: 0"
                          >
                            <h2
                              class=""
                              data-animation="fadeInUp"
                              data-delay="100ms"
                              style="animation-delay: 100ms; opacity: 0"
                            >
                              Turning Data into Decisions, Surveys into
                              Strategies.
                            </h2>

                            <p>
                              <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                       <span>Contact Us</span>
                                     </button> -->
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="owl-item cloned"
                  style="width: 720px; margin-right: 0px"
                >
                  <div
                    class="single-hero-slide bg-img bg-fixed bg-overlay-black"
                    style="background-image: url(assets/img/banner-ad-2-1.jpg)"
                  >
                    <div class="container h-100">
                      <div class="row h-100 align-items-center">
                        <div class="col-12">
                          <div
                            class="hero-slides-content"
                            data-animation="fadeInUp"
                            data-delay="100ms"
                            style="animation-delay: 100ms; opacity: 0"
                          >
                            <h2
                              data-animation="fadeInUp"
                              data-delay="100ms"
                              style="animation-delay: 100ms; opacity: 0"
                            >
                              Transforming Raw Data into Refined Wisdom.
                            </h2>

                            <p>
                              <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                       <span>Contact Us</span>
                                     </button> -->
                            </p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-controls">
              <div class="owl-nav">
                <div class="owl-prev" style="">
                  <i class="fa fa-angle-left"></i>
                </div>
                <div class="owl-next" style="">
                  <i class="fa fa-angle-right"></i>
                </div>
              </div>
              <div class="owl-dots" style="">
                <div class="owl-dot">01</div>
                <div class="owl-dot">02</div>
                <div class="owl-dot active">03</div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<div (click)="playOSSound()" class="sound">
  <span>Sound</span>
  <div class="equalizer">
    <span></span> <span></span> <span></span> <span></span>
  </div>
</div>

<!-- ##### Hero Area End ##### -->

<!-- ##### About Area Start ##### -->
<div
  class="about_area wow fadeInUp"
  data-wow-delay="0.2s"
  style="visibility: visible; animation-delay: 0.2s"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="top-title section-heading">
          <h2
            class="wow fadeInUp"
            data-wow-delay="1s"
            style="
              visibility: visible;
              animation-name: fadeInUp;
              animation-delay: 1s;
            "
          >
            Welcome to PABDA Consulting
          </h2>
          <div class="heading-separator" style="margin: 0 auto">
            <span> </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div
        class="col-md-12 wow zoomIn"
        data-wow-delay="1.5s"
        style="
          visibility: visible;
          animation-delay: 0.5s;
          animation-name: zoomIn;
        "
      >
        <div class="about-info">
          <!-- <h5>About</h5>
              <h3>  Pabda Consulting</h3> -->
          <h6>
            Comprehensive and innovative, our services keep you protected from
            every eventuality.
          </h6>
          <p>
            We are one of the fastest-growing research and analytics firm
            providing quality-driven data. We offer end-to-end research and
            intelligence solutions. We provide global coverage through our
            proprietary and network and strategic partner-based database.
          </p>
          <p>
            Our team comprises of highly qualified project management personnel
            with diverse experience and knowledge to deliver action-based
            insights.
          </p>

          <!-- <div class="view">
          <a href="#">Read More</a>
       </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ##### About Area End ##### -->

<!-- ##### About Area Start ##### -->

<!-- ##### About Area End ##### -->

<section
  class="startup-expertise-area pt-120 pt-md-80 pt-sm-60 pb-114 pb-md-76 pb-sm-56"
>
  <!-- <div class="video-bg">
      <video src="assets/img/video-1-new.mp4" muted="" loop="" autoplay="" playsinline=""></video>
    </div> -->
  <div class="container">
    <div
      class="top-title wow fadeInUp"
      data-wow-delay="2s"
      style="visibility: visible; animation-name: fadeInUp; animation-delay: 2s"
    >
      <h2>Services We Provide</h2>
      <div class="heading-separator" style="margin: 0 auto"><span> </span></div>
      <p>
        We are one of the fastest-growing research and analytics firm providing
        quality-driven data.<br/>
        We offer end-to-end research and intelligence solutions.
      </p>
    </div>
    <div class="row align-items-center mtm-50">
      <div class="col-lg-4 col-md-6 order-1 order-lg-0 left-bb">
        <!-- Single Feature Item #1 -->

        <div
          class="single-desc-item-wrap layout--2 d-flex wow fadeInDown"
          data-wow-delay="0s"
          style="visibility: visible; animation-delay: 0s"
        >
          <span class="desc-number"><img src="assets/img/i-1.jpg"/></span>
          <div class="busi-fea-info">
            <a href="/service-details/market-research"><h3>Market Research</h3></a>
            <p>
              It’s a process by which information is collected in a defined
              manner and given...
            </p>
            <a class="readmm" href="/service-details/market-research"
            >Read More <i aria-hidden="true" class="fa fa-angle-right"></i
            ></a>
          </div>
        </div>
        <!-- Single Feature Item #2 -->
        <div
          class="single-desc-item-wrap layout--2 d-flex wow fadeInDown"
          data-wow-delay="0s"
          style="visibility: visible; animation-delay: 0s"
        >
          <span class="desc-number"><img src="assets/img/i-2.jpg"/></span>
          <div class="busi-fea-info">
            <a href="/service-details/questionnaire-designing"><h3>Questionnaire Designing</h3></a>
            <p>
              Our questionnaire design is a multistage process that requires
              attention to varied...
            </p>
            <a class="readmm" href="/service-details/questionnaire-designing"
            >Read More <i aria-hidden="true" class="fa fa-angle-right"></i
            ></a>
          </div>
        </div>
        <!-- Single Feature Item #3 -->
        <div
          class="single-desc-item-wrap layout--2 d-flex wow fadeInDown"
          data-wow-delay="0s"
          style="visibility: visible; animation-delay: 0s"
        >
          <span class="desc-number"><img src="assets/img/i-3.jpg"/></span>
          <div class="busi-fea-info">
            <a href="/service-details/survey-programming"><h3>Survey Programming</h3></a>
            <p>
              Our survey programming has expertise in scripting surveys
              across...
            </p>
            <a class="readmm" href="/service-details/survey-programming"
            >Read More <i aria-hidden="true" class="fa fa-angle-right"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 order-0 order-lg-1 my-auto pt-50">
        <img
          class="img-responsive wow flipInX"
          data-wow-delay="0s"
          src="assets/img/welcome-one-img-1.png"
          style="visibility: visible; animation-delay: 0s"
        />
      </div>
      <div class="col-lg-4 col-md-6 order-2">
        <!-- Single Feature Item #4 -->
        <div
          class="single-desc-item-wrap layout--2 d-flex wow fadeInDown"
          data-wow-delay="0s"
          style="visibility: visible; animation-delay: 0s"
        >
          <span class="desc-number"><img src="assets/img/i-4.jpg"/></span>
          <div class="busi-fea-info">
            <a href="/service-details/data-processing"><h3>Data Processing</h3></a>
            <p>
              Our experts in Data Processing provide data across formats viz.
              raw data...
            </p>
            <a class="readmm" href="/service-details/data-processing"
            >Read More <i aria-hidden="true" class="fa fa-angle-right"></i
            ></a>
          </div>
        </div>
        <!-- Single Feature Item #5 -->
        <div
          class="single-desc-item-wrap layout--2 d-flex wow fadeInDown"
          data-wow-delay="0s"
          style="visibility: visible; animation-delay: 0s"
        >
          <span class="desc-number"><img src="assets/img/i-5.jpg"/></span>
          <div class="busi-fea-info">
            <a href="/service-details/industries-reach"><h3>Industries Reach</h3></a>
            <p>
              Financial services, Healthcare, Technology, Media,
              TelecommuniCATIon...
            </p>
            <a class="readmm" href="/service-details/industries-reach"
            >Read More <i aria-hidden="true" class="fa fa-angle-right"></i
            ></a>
          </div>
        </div>
        <!-- Single Feature Item #6 -->
        <div
          class="single-desc-item-wrap layout--2 d-flex wow fadeInDown"
          data-wow-delay="0s"
          style="visibility: visible; animation-delay: 0s"
        >
          <span class="desc-number"><img src="assets/img/i-6.jpg"/></span>
          <div class="busi-fea-info">
            <a href="/service-details/respondent-reach"><h3>Respondent Reach</h3></a>
            <p>
              We value change and promote & enable the effective use of
              research...
            </p>
            <a class="readmm" href="/service-details/respondent-reach"
            >Read More <i aria-hidden="true" class="fa fa-angle-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--banner bottom-->
<div
  (mouseenter)="increaseCounters()"
  (mouseleave)="increaseCounters()"
  (touchend)="increaseCounters()"
  (touchstart)="increaseCounters()"
  class="services-area area-padding"
>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div
          class="top-title wow fadeInUp"
          data-wow-delay="1s"
          style="
            visibility: visible;
            animation-name: fadeInUp;
            animation-delay: 1s;
          "
        >
          <h2>Why People Choose Us!</h2>
          <div class="heading-separator" style="margin: 0 auto">
            <span> </span>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-3">
            <div
              class="amts wow zoomIn"
              data-wow-delay="0.2s"
              style="
                visibility: visible;
                animation-delay: 0.2s;
                animation-name: zoomIn;
              "
            >
              <div class="business-icon">
                <img
                  alt=""
                  class="img-responsive"
                  src="assets/img/business-icon1.png"
                />
              </div>
              <h4>
                <b
                ><span class="counter">{{ counters[0]?.['business'] }}</span
                >+</b
                >
                Business Ideas
              </h4>
            </div>
          </div>
          <div class="col-md-3">
            <div
              class="amts wow zoomIn"
              data-wow-delay="0.2s"
              style="
                visibility: visible;
                animation-delay: 0.2s;
                animation-name: zoomIn;
              "
            >
              <div class="business-icon">
                <img
                  alt=""
                  class="img-responsive"
                  src="assets/img/business-icon3.png"
                />
              </div>
              <h4>
                <b
                ><span
                  class="counter"
                >{{ counters[1]?.['happyClients'] }}</span
                >+</b
                >
                Happy CLIENTS
              </h4>
            </div>
          </div>
          <div class="col-md-3">
            <div
              class="amts wow zoomIn"
              data-wow-delay="0.2s"
              style="
                visibility: visible;
                animation-delay: 0.2s;
                animation-name: zoomIn;
              "
            >
              <div class="business-icon">
                <img
                  alt=""
                  class="img-responsive"
                  src="assets/img/business-icon2.png"
                />
              </div>
              <h4>
                <b
                ><span
                  class="counter"
                >{{ counters[2]?.['respondents'] }}</span
                >M+</b
                >
                Respondents
              </h4>
            </div>
          </div>
          <div class="col-md-3">
            <div
              class="amts wow zoomIn"
              data-wow-delay="0.2s"
              style="
                visibility: visible;
                animation-delay: 0.2s;
                animation-name: zoomIn;
              "
            >
              <div class="business-icon">
                <img
                  alt=""
                  class="img-responsive"
                  src="assets/img/business-icon4.png"
                />
              </div>
              <h4>
                <b
                ><span class="counter">{{ counters[3]?.['surveys'] }}</span
                >M+</b
                >
                SURVEYS COMPLETED
              </h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ##### About Area Start ##### -->
<div class="client-we">
  <!-- <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" playsinline>
     <source src="assets/img/video-3-new.mp4" type="video/mp4">
  </video> -->
  <div class="video-bg">
    <video
      autoplay=""
      loop=""
      muted=""
      playsinline=""
      src="assets/img/video-3-new.mp4"
    ></video>
  </div>

  <div class="container">
    <div class="d-flex text-center align-items-center">
      <div
        class="w-100 text-white wow fadeInUp"
        data-wow-delay="1s"
        style="
          visibility: visible;
          animation-name: fadeInUp;
          animation-delay: 1s;
        "
      >
        <h1 class="display-3">Clients We Serve</h1>
        <p>
          Our clients include established market research firms, consulting
          companies boutique firms that require services in all segments of
          market research including hypothesis generation, survey programming,
          data collection, and data processing.
        </p>
        <div class="view" href="client-we-serve">
          <a href="client-we-serve">Know more</a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ##### Blog Area ##### -->
<div class="blog-page">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="top-title section-heading wow fadeInUp"
          data-wow-delay="1s"
          style="
            visibility: visible;
            animation-name: fadeInUp;
            animation-delay: 1s;
          "
        >
          <h2>Our Latest Blogs</h2>
          <div class="heading-separator" style="margin: 0 auto">
            <span> </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <app-blog-grid></app-blog-grid>
    </div>
  </div>
</div>

<!-- ##### About Area Start ##### -->
<div class="get-in">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h3>
          Providing Leading Business Solutions <br/>24/7 Speak to an Expert!
        </h3>
        <!-- <p>Contact Us To Request A Quote</p> -->
      </div>
      <div class="col-md-4">
        <button
          class="thm-btn"
          data-target="#myModal"
          data-toggle="modal"
          routerLink="contact-us"
          type="button"
        >
          <span>Contact Now</span>
        </button>
      </div>
    </div>
  </div>
</div>
<!-- ##### About Area End ##### -->

<!-- ##### Brands Area Start ##### -->
<section class="our-brands-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading wow fadeInUp" data-wow-delay="250ms">
          <div class="top-title">
            <h2>Client Testimonials</h2>
            <div class="heading-separator" style="margin: 0 auto">
              <span> </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h1 style="text-align: center">No Reviews Yet</h1>
    <div class="row">
      <div class="col-12">
        <div
          class="brands-slides owl-carousel wow zoomIn"
          data-wow-delay="1.5s"
          style="
            visibility: visible;
            animation-delay: 0.5s;
            animation-name: zoomIn;
          "
        >
          <!-- Single Brand Slide -->
          <div class="single-brand-slide text-center">
            <div class="slide-logo-info">
              <p>
                "There are many variations of passages of as Ipsum available,
                but the majority have suffered alteration in some form, by
                injected humor, or randomized words."
              </p>
              <div class="quote">
                <i aria-hidden="true" class="fa fa-quote-right"></i>
              </div>
              <div class="testimonial-author-info">
                <p>Simar Kapoor</p>
                <div class="sp-testimonial-client-rating">
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                </div>
              </div>
            </div>
          </div>

          <!-- Single Brand Slide -->
          <div
            class="single-brand-slide text-center wow zoomIn"
            data-wow-delay="1.5s"
            style="
              visibility: visible;
              animation-delay: 0.5s;
              animation-name: zoomIn;
            "
          >
            <div class="slide-logo-info">
              <p>
                "There are many variations of passages of as Ipsum available,
                but the majority have suffered alteration in some form, by
                injected humor, or randomized words."
              </p>
              <div class="quote">
                <i aria-hidden="true" class="fa fa-quote-right"></i>
              </div>
              <div class="testimonial-author-info">
                <p>Raymond Harper</p>
                <div class="sp-testimonial-client-rating">
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                </div>
              </div>
            </div>
          </div>
          <!-- Single Brand Slide -->
          <div
            class="single-brand-slide text-center wow zoomIn"
            data-wow-delay="1.5s"
            style="
              visibility: visible;
              animation-delay: 0.5s;
              animation-name: zoomIn;
            "
          >
            <div class="slide-logo-info">
              <p>
                "There are many variations of passages of as Ipsum available,
                but the majority have suffered alteration in some form, by
                injected humor, or randomized words."
              </p>
              <div class="quote">
                <i aria-hidden="true" class="fa fa-quote-right"></i>
              </div>
              <div class="testimonial-author-info">
                <p>Rahul Sharma</p>
                <div class="sp-testimonial-client-rating">
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                  <i aria-hidden="true" class="fa fa-star"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
