<div class="banner-section">
  <div class="container-fluid">
  <div class="row">
      
      <div class="col-md-6">
          <section class="hero-area left-banner">
              <div class="hero-slides owl-carousel">
                  <div class="single-hero-slide bg-img bg-fixed bg-overlay-black" style="background-image: url(assets/img/banner-ad-1.jpg);">
                      <div class="container h-100">
                          <div class="row h-100 align-items-center">
                              <div class="col-12">
                                  <div class="hero-slides-content" data-animation="zoomIn" data-delay="100ms">
                                      <h2 data-animation="fadeInUp" data-delay="100ms">Turning Data into Decisions, Surveys into Strategies.</h2>
                                    
                                      <p>
                                      <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                       <span>Contact Us</span>
                                     </button> -->
                                    </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="single-hero-slide bg-img bg-fixed bg-overlay-black" style="background-image: url(assets/img/banner-ad-9.jpg);">
                      <div class="container h-100">
                          <div class="row h-100 align-items-center">
                              <div class="col-12">
                                  <div class="hero-slides-content" data-animation="zoomIn" data-delay="100ms">
                                      <h2 data-animation="fadeInUp" data-delay="100ms">Transforming Raw Data into Refined Wisdom.</h2>
                                     
                                      <p>
                                      <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                       <span>Contact Us</span>
                                     </button> -->
                                    </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                         
                  <div class="single-hero-slide bg-img bg-fixed bg-overlay-black" style="background-image: url(assets/img/banner-ad-4.jpg);">
                      <div class="container h-100">
                          <div class="row h-100 align-items-center">
                              <div class="col-12"> 
                                  <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                      <h2 data-animation="fadeInUp" data-delay="100ms">Navigating Industries, Connecting Possibilities. </h2>
                                  
                                      <p>
                                       <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                          <span>Contact Us</span>
                                      </button> -->
                                     </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
      


      
      
              </div>
          </section>
      </div>
      <div class="col-md-6">
          <section class="hero-area right-banner">
              <div class="hero-slides owl-carousel">
                  <div class="single-hero-slide bg-img bg-fixed bg-overlay-black" style="background-image: url(assets/img/banner-ad-6.jpg);">
                      <div class="container h-100">
                          <div class="row h-100 align-items-center">
                              <div class="col-12">
                                  <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                      <h2 data-animation="fadeInUp" data-delay="100ms">Turning Data into Decisions, Surveys into Strategies.</h2>
                                   
                                      <p>
                                      <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                       <span>Contact Us</span>
                                     </button> -->
                                    </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="single-hero-slide bg-img bg-fixed bg-overlay-black" style="background-image: url(assets/img/banner-ad-2-1.jpg);">
                      <div class="container h-100">
                          <div class="row h-100 align-items-center">
                              <div class="col-12">
                                  <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                      <h2 data-animation="fadeInUp" data-delay="100ms">Transforming Raw Data into Refined Wisdom.</h2>
                                   
                                      <p>
                                      <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                       <span>Contact Us</span>
                                     </button> -->
                                    </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                         
                  <div class="single-hero-slide bg-img bg-fixed bg-overlay-black" style="background-image: url(assets/img/banner-ad-5.jpg);">
                      <div class="container h-100">
                          <div class="row h-100 align-items-center">
                              <div class="col-12"> 
                                  <div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
                                      <h2 data-animation="fadeInUp" data-delay="100ms">Navigating Industries, Connecting Possibilities. </h2>
                                    
                                      <p>
                                       <!-- <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
                                          <span>Contact Us</span>
                                      </button> -->
                                     </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
      
      
      
              </div>
          </section>
      </div>
      </div>
  </div>
</div>
<div class="sound">
  <span>Sound</span>
  <div class="equalizer"> <span></span> <span></span> <span></span> <span></span> </div>
</div>

<!-- ##### Hero Area End ##### -->


<!-- ##### About Area Start ##### -->
<div class="about_area  wow fadeInUp" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s;">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="top-title section-heading ">
                  <h2 class=" wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-name: fadeInUp; animation-delay: 1s;">Welcome to PABDA Consulting</h2>
                  <div class="heading-separator" style=" margin: 0 auto;"><span> </span></div>
              </div>
          </div>
      </div>
     <div class="row">


        <div class="col-md-12  wow zoomIn" data-wow-delay="1.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn; ">
          <div class="about-info">
              <!-- <h5>About</h5>
              <h3>  Pabda Consulting</h3> -->
              <h6>Comprehensive and innovative, our services keep you protected from every eventuality.</h6>
        <p>We are one of the fastest-growing research and analytics firm providing quality-driven data. We offer end-to-end research and intelligence solutions. We provide global coverage through our proprietary and network and strategic partner-based database.
        </p>
        <p>Our team comprises of highly qualified project management personnel with diverse experience and knowledge to deliver action-based insights.</p>
       
      <!-- <div class="view">
          <a href="#">Read More</a>
       </div> -->
      </div>
           </div>


   
     </div>
  </div>
</div>
  <!-- ##### About Area End ##### -->

<!-- ##### About Area Start ##### -->

<!-- ##### About Area End ##### -->

<section class="startup-expertise-area pt-120 pt-md-80 pt-sm-60 pb-114 pb-md-76 pb-sm-56">
  <!-- <div class="video-bg">
      <video src="assets/img/video-1-new.mp4" muted="" loop="" autoplay="" playsinline=""></video>
    </div> -->
  <div class="container">
      <div class="top-title  wow fadeInUp" data-wow-delay="2s" style="visibility: visible; animation-name: fadeInUp; animation-delay: 2s;">
          <h2 >Services We Provide</h2>
           <div class="heading-separator" style=" margin: 0 auto;"><span> </span></div>
           <p>We are one of the fastest-growing research and analytics firm providing quality-driven data.<br> We offer end-to-end research and  intelligence solutions.</p>
     
       </div>
      <div class="row align-items-center mtm-50">
          <div class="col-lg-4 col-md-6 order-1 order-lg-0 left-bb">
              <!-- Single Feature Item #1 -->
           
              <div class="single-desc-item-wrap layout--2 d-flex  wow fadeInDown" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; "><span class="desc-number"><img src="assets/img/i-1.jpg"></span>
                  <div class="busi-fea-info">
                      <a href="#"> <h3>Market Research</h3></a>
                      <p>It’s a process by which information is collected in a defined manner and given...</p>
                      <a class="readmm" href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
              </div><!-- Single Feature Item #2 -->
              <div class="single-desc-item-wrap layout--2 d-flex  wow fadeInDown" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; "><span class="desc-number"><img src="assets/img/i-2.jpg"></span>
                  <div class="busi-fea-info">
                      <a href="#"> <h3>Questionnaire Designing</h3></a>
                 <p>Our questionnaire design is a multistage process that requires attention to varied...</p>
                 <a class="readmm" href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
              </div><!-- Single Feature Item #3 -->
              <div class="single-desc-item-wrap layout--2 d-flex  wow fadeInDown" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; "><span class="desc-number"><img src="assets/img/i-3.jpg"></span>
                  <div class="busi-fea-info">
                      <a href="#"> <h3>Survey Programming</h3></a>
                      <p>Our survey programming has expertise in scripting surveys across...</p>
                      <a class="readmm" href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 order-0 order-lg-1 my-auto pt-50">
             <img class="img-responsive wow flipInX" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; " src="assets/img/welcome-one-img-1.png">
       
          </div>
          <div class="col-lg-4 col-md-6 order-2">
              <!-- Single Feature Item #4 -->
              <div class="single-desc-item-wrap layout--2 d-flex  wow fadeInDown" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s; "><span class="desc-number"><img src="assets/img/i-4.jpg"></span>
                  <div class="busi-fea-info">
                      <a href="#"> <h3>Data Processing</h3></a>
                      <p>Our experts in Data Processing provide data across formats viz. raw data...</p>
                      <a class="readmm" href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
              </div><!-- Single Feature Item #5 -->
              <div class="single-desc-item-wrap layout--2 d-flex  wow fadeInDown" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s;"><span class="desc-number"><img src="assets/img/i-5.jpg"></span>
                  <div class="busi-fea-info">
                      <a href="#">  <h3>Industries Reach </h3></a>
                      <p>Financial services, Healthcare, Technology, Media, TelecommuniCATIon...</p>
                      <a class="readmm" href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
              </div><!-- Single Feature Item #6 -->
              <div class="single-desc-item-wrap layout--2 d-flex  wow fadeInDown" data-wow-delay="0s" style="visibility: visible; animation-delay: 0s;"><span class="desc-number"><img src="assets/img/i-6.jpg"></span>
                  <div class="busi-fea-info">
                      <a href="#">  <h3> Respondent Reach</h3></a>
                      <p>We value change and promote & enable the effective use of research...</p>
                      <a class="readmm" href="#">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<!--banner bottom-->
<div class="services-area area-padding">
<div class="container">


   <div class="row">
      <div class="col-md-12">
         <div class="top-title wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-name: fadeInUp; animation-delay: 1s;">
            <h2>Why People Choose Us!</h2>
            <div class="heading-separator" style=" margin: 0 auto;"><span> </span></div>
         </div>
      </div>
      <div class="col-md-12">
         <div class="row">
            <div class="col-md-3">
               <div class="amts  wow zoomIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                  <div class="business-icon">
                      <img src="assets/img/business-icon1.png" alt="" class="img-responsive">
                  </div>
                  <h4><b><span class="counter">50</span>+</b> Business Ideas</h4>
                 

               </div>
            </div>
            <div class="col-md-3">
               <div class="amts  wow zoomIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                  <div class="business-icon">
                  <img src="assets/img/business-icon3.png" alt="" class="img-responsive">
              </div>
                  <h4><b><span class="counter">100</span>+</b> Happy CLIENTS</h4>
              
               </div>
            </div>
            <div class="col-md-3 ">
               <div class="amts  wow zoomIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                  <div class="business-icon">
                      <img src="assets/img/business-icon2.png" alt="" class="img-responsive">
                  </div>
                  <h4><b><span class="counter">8</span>M+</b> Respondents</h4>
              
               </div>
            </div>
            <div class="col-md-3">
               <div class="amts  wow zoomIn" data-wow-delay="0.2s" style="visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;">
                  <div class="business-icon">
                      <img src="assets/img/business-icon4.png" alt="" class="img-responsive">
                  </div>
                  <h4><b><span class="counter">6</span>M+</b> SURVEYS COMPLETED</h4>
             
               </div>
            </div>

         </div>
      </div>
   </div>
    
</div>
</div>

<!-- ##### About Area Start ##### -->
<div class="client-we">

  <!-- <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop" playsinline>
     <source src="assets/img/video-3-new.mp4" type="video/mp4">
  </video> -->
  <div class="video-bg">
      <video src="assets/img/video-3-new.mp4" muted="" loop="" autoplay="" playsinline=""></video>
    </div>

  <div class="container ">
     <div class="d-flex text-center align-items-center">
         <div class="w-100 text-white  wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-name: fadeInUp; animation-delay: 1s;">
              <h1 class="display-3 ">Clients We Serve</h1>
              <p>Our clients include established market research firms, consulting companies boutique firms that require services in all segments of market research including hypothesis generation, survey programming, data collection, and data processing.
              </p>
              <div class="view">
                  <a href="#">Know more</a>
               </div>
              </div> 
     </div>
  </div>
</div>
<!-- <div class="client-we mob header-vi" style="background: url(./assets/img/global.jpg) no-repeat; background-size: cover; background-attachment: fixed; background-position: center;">
  <div class="overlay"></div>
  <div class="container h-100">
     <div class="d-flex h-100 text-center align-items-center">
         <div class="w-100 text-white wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-name: fadeInUp; animation-delay: 1s;">
              <h1 class="display-3">Clients We Serve</h1>
              <p>Our clients include established market research firms, consulting companies boutique firms that require services in all segments of market research including hypothesis generation, survey programming, data collection, and data processing.
              </p>
              <div class="view">
                  <a href="#">Know more</a>
               </div>
              </div> 
     </div>
  </div>
</div> -->




<!-- ##### Blog Area ##### -->
<div class="blog-page">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="top-title section-heading wow fadeInUp" data-wow-delay="1s" style="visibility: visible; animation-name: fadeInUp; animation-delay: 1s;">
                  <h2>Our Latest Blogs</h2>
                  <div class="heading-separator" style=" margin: 0 auto;"><span> </span></div>
              </div>
          </div>
      </div>
     <div class="row">
        <div class="col-md-4    wow fadeInLeft" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInLeft;">
           <div class="media-bx">
                 <div class="md-img">
                    <img src="assets/img/blog-img2-1.jpg">
                 </div>
                 <div class="blog-one__content">
                  <div class="blog__inner">
                    <div class="blog__meta">
                      <div class="tjblog_author">
                          <h5><i class="fa fa-calendar cl-nd" aria-hidden="true"></i> Tuesday, August 22nd 2024</h5>
                      </div>

                    </div>
                    <div class="content">
                      <h3 class="blog-title">
                        <a href="#">
                          Lorem Ipsum is simply dummy text market research                </a>
                      </h3>
    
                          <p>There are many variations of passages of Lorem Ipsum available, but majority have suffered alteration in some</p>
                      
                    </div>
                  </div>
                  <a href="#" class="blog-btn">
                    <span>Read More <i class="fa-light fa-arrow-up-long"></i></span>
                  </a>
                </div>
              </div>
           </div>
        <div class="col-md-4   wow fadeInLeft" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInLeft;">
           <div class="media-bx">
              <div class="md-img">
                 <img src="assets/img/blog-img1-new.jpg">
              </div>
              <div class="blog-one__content">
                  <div class="blog__inner">
                    <div class="blog__meta">
                      <div class="tjblog_author">
                          <h5><i class="fa fa-calendar cl-nd" aria-hidden="true"></i> Tuesday, August 25nd 2024</h5>
                      </div>

                    </div>
                    <div class="content">
                      <h3 class="blog-title">
                        <a href="#">
                          Lorem Ipsum is simply dummy text market research                </a>
                      </h3>
    
                                          <p>There are many variations of passages of Lorem Ipsum available, but majority have suffered alteration in some</p>
                      
                    </div>
                  </div>
                  <a href="#" class="blog-btn">
                    <span>Read More <i class="fa-light fa-arrow-up-long"></i></span>
                  </a>
                </div>
           </div>
        </div>
        <div class="col-md-4    wow fadeInLeft" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: fadeInLeft;">
           <div class="media-bx">
                 <div class="md-img">
                    <img src="assets/img/blog-img3.jpg">
                 </div>
                 <div class="blog-one__content">
                  <div class="blog__inner">
                    <div class="blog__meta">
                      <div class="tjblog_author">
                          <h5><i class="fa fa-calendar cl-nd" aria-hidden="true"></i> Tuesday, August 30nd 2024</h5>
                      </div>

                    </div>
                    <div class="content">
                      <h3 class="blog-title">
                        <a href="#">
                          Lorem Ipsum is simply dummy text market research                </a>
                      </h3>
    
                                          <p>There are many variations of passages of Lorem Ipsum available, but majority have suffered alteration in some</p>
                      
                    </div>
                  </div>
                  <a href="#" class="blog-btn">
                    <span>Read More <i class="fa-light fa-arrow-up-long"></i></span>
                  </a>
                </div>
           </div>
        </div>
     </div>
</div>
</div>

<!-- ##### About Area Start ##### -->
<div class="get-in">
  <div class="container">
   <div class="row">
      <div class="col-md-8">
         <h3>Providing Leading Business Solutions <br>24/7  Speak to an Expert! </h3>
         <!-- <p>Contact Us To Request A Quote</p> -->
      </div>
      <div class="col-md-4">
         <button type="button"  class="thm-btn " data-toggle="modal" data-target="#myModal">
            <span>Contact Now</span>
          </button>
      </div>
   </div>
  
    
  </div>
</div>
  <!-- ##### About Area End ##### -->

<!-- ##### Brands Area Start ##### -->
<section class="our-brands-area ">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-heading wow fadeInUp" data-wow-delay="250ms">
                  <div class="top-title">
                      <h2> Client Testimonials </h2>
                      <div class="heading-separator" style=" margin: 0 auto;"><span> </span></div>
                     
                   </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-12">
              <div class="brands-slides owl-carousel wow zoomIn" data-wow-delay="1.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">

                  <!-- Single Brand Slide -->
                  <div class="single-brand-slide text-center">
                  
                      <div class="slide-logo-info">
                       
                          <p>
                              "There are many variations of passages of as Ipsum available, but the majority have suffered alteration in some form, by injected humor, or randomized words."
                          </p>
                          <div class="quote"><i class="fa fa-quote-right" aria-hidden="true"></i></div>
                          <div class="testimonial-author-info">
                              <p>Simar Kapoor </p>
                              <div class="sp-testimonial-client-rating">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                               </div>

                          </div>
                      </div>
                  </div>

                  <!-- Single Brand Slide -->
                  <div class="single-brand-slide text-center wow zoomIn" data-wow-delay="1.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
                                          
                      <div class="slide-logo-info">
                        
                          <p>
                              "There are many variations of passages of as Ipsum available, but the majority have suffered alteration in some form, by injected humor, or randomized words."
                          </p>
                          <div class="quote"><i class="fa fa-quote-right" aria-hidden="true"></i></div>
                          <div class="testimonial-author-info">
                              <p>Raymond Harper </p>
                              <div class="sp-testimonial-client-rating">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                               </div>

                          </div>
                      </div>
                  </div>
                  <!-- Single Brand Slide -->
                  <div class="single-brand-slide text-center wow zoomIn" data-wow-delay="1.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: zoomIn;">
                                          
                      <div class="slide-logo-info">
                       
                          <p>
                              "There are many variations of passages of as Ipsum available, but the majority have suffered alteration in some form, by injected humor, or randomized words."
                          </p>
                          <div class="quote"><i class="fa fa-quote-right" aria-hidden="true"></i></div>
                          <div class="testimonial-author-info">
                              <p>Rahul Sharma </p>
                              <div class="sp-testimonial-client-rating">
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                                  <i class="fa fa-star" aria-hidden="true"></i>
                               </div>

                          </div>
                      </div>
                  </div>



              </div>
          </div>
      </div>
  </div>
</section>