<div
  *ngFor="let blog of blogData"
  class="col-md-4 wow fadeInLeft"
  data-wow-delay="1s"
  style="visibility: visible; animation-delay: 1s; animation-name: fadeInLeft"
>
  <div class="media-bx">
    <div class="md-img">
      <img [src]="blog?.['imgSrc']"/>
    </div>
    <div class="blog-one__content">
      <div class="blog__inner">
        <div class="blog__meta">
          <div class="tjblog_author">
            <h5>
              <i aria-hidden="true" class="fa fa-calendar cl-nd"></i>
              {{ transformDate(blog?.date) }}
            </h5>
          </div>
        </div>
        <div class="content">
          <h3 class="blog-title">
            <a [href]="'blogs/' + blog.slug">{{
                extractTitle(blog?.content)
              }}</a>
          </h3>
          <p>{{ extractIntro(blog?.content) }}</p>
        </div>
      </div>
      <a [href]="'blogs/' + blog.slug" class="blog-btn">
        <span>Read More</span>
      </a>
    </div>
  </div>
</div>
